# Ignore virtual environments
env/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Django settings
coffeehouse/settings.py

# Ignore media files (optional)
media/

# Ignore VS Code or PyCharm project settings
.vscode/
.idea/

# Ignore environment variable files
.env


*/migrations/*.py
!*/migrations/__init__.py

# Redis
dump.rdb
*.aof